body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 62.5%;
}

header {
  font-size: 1.2rem;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  line-height: 2.7rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: bold;

}

button, select {
  font-size: 2rem;
  font-weight: 500;
}
