//Colors
$body-bg: #f9f9f9;
$header-bg: #202833;
$menu-button: #f3fdff;
$menu-button-hover: #fffe49;
$text-head: #f3fdff;
$button-bg: #fffe0c;
$button-bg-hover: #F16D23FF;
$button-text: #1f3a6e;
$button-text-hover: #f3fdff;
$joke-bg: #d0d9ff;
$joke-text: #202833;
$joke-actions-bg: #202833;
$select-bg: #f9f9f9;
$select-hover: #fffe0c;
$favorite: #ef6c23;

$border-radius: 1rem;
$transition-hover: 0.3s;